.header {
display: flex;
flex-direction: column;
margin-bottom: 30px;

  &__info {
    border-bottom: 1px solid var(--color-text-2);
    margin-bottom: 16px;
    padding-bottom: 24px;
  }

  &__heading {
    font-size: 1.5rem;
    padding-bottom: 3px;
    color: var(--color-text-1);
  }

  &__subheading{
    color: var(--color-text-2);
    font-weight: map-get($font-weights, bold);
    font-size: 0.875rem;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    width: 3.2rem;
    height: 1.6rem;
    background: linear-gradient(to right, var(--color-toggle-1), var(--color-toggle-2));
    border-radius: 32px;
    border: none;
    position: relative;
  }

  
  label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 4px;
    width: 1.3rem;
    height: 1.3rem;
    background-color: var( --color-top-bg);
    border-radius: 90px;
  }
  
  input:checked + label {
    background-color: linear-gradient(to right, var(--color-toggle-1), var(--color-toggle-2));

  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 1.3rem;
  }
}

/*Header media queries*/
@include media-m {
  .header {
    flex-direction: row;
    justify-content: space-between;

    &__info {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }

    &__heading {
      font-size: 2rem;
    }

    &__subheading {
      margin-right: 12px;
    }

    &__switch {
      margin-left: 16px;
    }
  }
} 





 

